---

---

<section class="contact-section">
	<div class="contact-section__inner">
		<!-- Left column acts as a spacer so the background image shows -->
		<div class="contact-section__spacer"></div>

		<!-- Right column holds the white box and form -->
		<div class="contact-section__content">
			<div class="contact-section__header">
				<span class="contact-section__subtitle">Allo Bob24.be</span>
				<h2 class="contact-section__title">
					Un Devis Débouchage à Liège?
				</h2>
			</div>

			<div class="contact-section__form">
				<!-- ELFSIGHT WIDGET HTML EXACT CONTENT -->
				<div class="elementor-shortcode">
					<div
						class="elfsight-widget-form-builder elfsight-widget"
						data-elfsight-widget-id="elfsight-form-builder-1"
						id="eapps-form-1"
					>
						<div class="eapps-form-spots">
							<div
								class="eapps-form-spot-inline"
								eapps-link="inlineSpot"
							>
								<div
									class="eapps-form eapps-form-layout-boxed eapps-form-style-flat-rounded eapps-form-layout-boxed eapps-form-layout-hide-progress eapps-form-header-hidden"
									eapps-link="app"
								>
									<div
										class="eapps-form-overlay"
										eapps-link="floatingOverlay"
									>
									</div>

									<div class="eapps-form-container">
										<a
											href="#"
											class="eapps-form-close"
											eapps-link="floatingClose"
										>
											<svg
												class="eapps-form-close-icon"
												xmlns="http://www.w3.org/2000/svg"
												viewBox="0 0 14 14"
												width="14px"
												height="14px"
											>
												<line
													class="eapps-form-close-icon-line"
													x1="0"
													y1="0"
													x2="14"
													y2="14"></line>
												<line
													class="eapps-form-close-icon-line"
													x1="14"
													y1="0"
													x2="0"
													y2="14"></line>
											</svg>
										</a>

										<div
											class="eapps-form-inner"
											eapps-link="formInner"
										>
											<form
												class="eapps-form-form"
												data-inited-validation="1"
											>
												<div
													class="eapps-form-header-container"
													eapps-link="headerContainer"
												>
												</div>
												<div
													class="eapps-form-steps-progress-bar-container"
													eapps-link="stepsProgressBarContainer"
												>
												</div>
												<div
													class="eapps-form-fieldset"
													eapps-link="fieldset"
												>
													<div
														class="eapps-form-element-wrapper eapps-form-element-text"
														style="width: 100%;"
													>
														<div
															class="eapps-form-element-label"
														>
															Nom et prénom
														</div>

														<div
															class="eapps-form-element-container"
															eapps-link="container"
														>
															<input
																class="eapps-form-element eapps-form-element-input-text eapps-form-element-input-pristine fill_inited"
																name="nom-et-prnom-0"
																type="text"
																value=""
																placeholder=""
															/>
														</div>

														<div
															class="eapps-form-element-error-container"
														>
															<div
																class="eapps-form-element-error"
																eapps-link="error"
															>
															</div>
														</div>
													</div><div
														class="eapps-form-element-wrapper eapps-form-element-email"
														style="width: 100%;"
													>
														<div
															class="eapps-form-element-label"
														>
															Email&nbsp;<div
																class="eapps-form-element-label-required-indicator"
															>
																*
															</div>
														</div>

														<div
															class="eapps-form-element-container"
															eapps-link="container"
														>
															<input
																class="eapps-form-element eapps-form-element-input-text eapps-form-element-input-email eapps-form-element-input-pristine fill_inited"
																name="email-1"
																type="email"
																value=""
																pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
																placeholder=""
																required=""
															/>
														</div>

														<div
															class="eapps-form-element-error-container"
														>
															<div
																class="eapps-form-element-error"
																eapps-link="error"
															>
															</div>
														</div>
													</div><div
														class="eapps-form-element-wrapper eapps-form-element-phone"
														style="width: 100%;"
													>
														<div
															class="eapps-form-element-label"
														>
															Téléphone
														</div>

														<div
															class="eapps-form-element-container"
															eapps-link="container"
														>
															<input
																class="eapps-form-element eapps-form-element-input-text eapps-form-element-input-tel eapps-form-element-input-pristine fill_inited"
																name="tlphone-2"
																type="tel"
																value=""
																placeholder=""
															/>
														</div>

														<div
															class="eapps-form-element-error-container"
														>
															<div
																class="eapps-form-element-error"
																eapps-link="error"
															>
															</div>
														</div>
													</div>
												</div>
												<div
													class="eapps-form-recaptcha-container"
													eapps-link="recaptchaContainer"
												>
													<div
														class="eapps-form-recaptcha-inner"
													>
														<div
															class="eapps-form-recaptcha"
															eapps-link="recaptcha"
														>
															<div
																class="grecaptcha-badge"
																data-style="bottomright"
																style="width: 256px; height: 60px; display: block; transition: right 0.3s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;"
															>
																<div
																	class="grecaptcha-logo"
																>
																	<iframe
																		title="reCAPTCHA"
																		width="256"
																		height="60"
																		role="presentation"
																		name="a-zg3324n345v9"
																		frameborder="0"
																		scrolling="no"
																		sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
																		src="https://www.google.com/recaptcha/api2/anchor?ar=1&k=6Ld1CXgUAAAAAFTHmixC1Eo-NP7_3ddB1YOj9AfX&co=aHR0cHM6Ly93d3cuYm9iMjQuYmU6NDQz&hl=en-GB&v=qm3PSRIx10pekcnS9DjGnjPW&size=invisible&anchor-ms=20000&execute-ms=30000&cb=d5b37oyxfqhi"
																		class="plumbing_resize trx_addons_resize"
																	></iframe>
																</div><div
																	class="grecaptcha-error"
																>
																</div><textarea
																	id="g-recaptcha-response"
																	name="g-recaptcha-response"
																	class="g-recaptcha-response fill_inited"
																	style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"
																></textarea>
															</div><iframe
																style="display: none;"
																class="plumbing_resize"
															></iframe>
														</div>

														<input
															type="hidden"
															name="ei"
															value=""
															eapps-link="ei"
														/>
														<input
															type="hidden"
															name="recaptcha_token"
															eapps-link="recaptchaToken"
														/>
													</div>
												</div>
												<div
													class="eapps-form-actions-container"
													eapps-link="actionsContainer"
												>
													<div
														class="eapps-form-actions"
													>
														<div
															class="eapps-form-actions-button eapps-form-button"
															eapps-link="buttonSubmit"
														>
															<div
																class="eapps-form-actions-button-label"
															>
																Envoyer
															</div>
															<div
																class="eapps-form-actions-button-loader"
															>
																<div
																	class="eapps-form-actions-button-loader-inner"
																>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div
													class="eapps-form-success"
													eapps-link="success"
												>
												</div>
												<div
													class="eapps-form-error"
													eapps-link="errorMessage"
												>
												</div>
												<div
													class="eapps-form-footer-container"
													eapps-link="footerContainer"
												>
													<div
														class="eapps-form-footer"
														eapps-link="footer"
													>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<style>
							#eapps-form-1 .eapps-form-layout-default,
							#eapps-form-1 .eapps-form-layout-boxed {
								max-width: 580px;
							}

							#eapps-form-1 .eapps-form-button,
							#eapps-form-1
								.eapps-form-element-checkbox-options-item
								input:checked
								~ .eapps-form-element-checkbox-options-item-checkmark,
							#eapps-form-1
								.eapps-form-element-radio-options-item
								input:checked
								~ .eapps-form-element-radio-options-item-checkmark,
							#eapps-form-1 .eapps-form-steps-progress-bar-inner,
							#eapps-form-1
								.eapps-form-element-scale-numbers-options-item-input:checked
								+ .eapps-form-element-scale-numbers-options-item-label,
							#eapps-form-1
								.eapps-form-element-scale-numbers-options-item-input:not(
									:checked
								):hover
								+ .eapps-form-element-scale-numbers-options-item-label,
							.eapps-form-floating-button {
								background-color: rgb(211, 48, 113);
								color: #fff;
							}

							#eapps-form-1 .eapps-form-floating-button svg,
							#eapps-form-1 .eapps-form-header-picture svg {
								fill: #fff;
							}

							#eapps-form-1 .eapps-form-header-picture {
								background-color: rgb(211, 48, 113);
							}

							#eapps-form-1 .eapps-form-element-input-file-link,
							#eapps-form-1
								.eapps-form-element-input-file-list-item-state-loader,
							#eapps-form-1
								.eapps-form-element-checkbox-options-item-caption
								a {
								color: rgb(211, 48, 113);
							}

							#eapps-form-1
								.eapps-form-element-radio-options-item
								input:checked
								~ .eapps-form-element-radio-options-item-checkmark:after {
								background-color: #fff;
							}

							#eapps-form-1
								.eapps-form-element-checkbox-options-item-checkmark:after {
								border-color: #fff;
							}
						</style>
					</div>
				</div>
			</div>
		</div>
	</div>

	<style>
		@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;600;700&display=swap");

		.contact-section {
			background-image: url("/images/liege-debouchage-form-scaled.jpg");
			background-position: center right;
			background-repeat: no-repeat;
			background-size: cover;
			padding: 60px 0;
		}

		.contact-section__inner {
			display: flex;
			flex-direction: row;
			align-items: center;
			max-width: 1140px;
			margin: 0 auto;
			padding: 0 15px;
			min-height: 730px;
		}

		.contact-section__spacer {
			width: 45%;
		}

		.contact-section__content {
			width: 55%;
			background-color: #ffffff;
			padding: 6%;
		}

		.contact-section__header {
			margin-bottom: 25px;
		}

		.contact-section__subtitle {
			font-family: "DM Sans", sans-serif;
			color: #222626;
			font-size: 14px;
			line-height: 18px;
			font-weight: 700;
			font-style: normal;
			text-transform: uppercase;
			letter-spacing: 1.8px;
			opacity: 0.9;
		}

		.contact-section__title {
			font-family: "DM Sans", sans-serif;
			font-size: 45px;
			color: #222626;
			margin-top: 0;
			margin-bottom: 0px;
			line-height: 1.2;
			font-weight: 700;
		}

		/* Responsive tweaks */
		@media (max-width: 1024px) {
			.contact-section {
				background-size: cover;
				background-position: center;
				padding: 80px 0;
			}

			.contact-section__inner {
				min-height: auto;
			}

			.contact-section__spacer {
				display: none;
			}

			.contact-section__content {
				width: 100%;
				max-width: 600px;
				margin: 0 auto;
				padding: 50px 40px;
				border-radius: 4px; /* Optional for aesthetics */
				box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1); /* Highlight over background on tablet/mobile */
			}

			.contact-section__title {
				font-size: 28px;
			}
		}

		@media (max-width: 767px) {
			.contact-section {
				padding: 60px 0;
			}

			.contact-section__content {
				padding: 40px 20px;
			}

			.contact-section__title {
				font-size: 24px;
			}
		}

		/* ─── Form Styling (Elfsight Fallback) ─── */
		.eapps-form-close,
		.eapps-form-overlay,
		.grecaptcha-badge {
			display: none !important;
		}

		.eapps-form-element-wrapper {
			margin-bottom: 20px;
		}

		.eapps-form-element-label {
			font-family: "DM Sans", sans-serif;
			font-size: 14px;
			font-weight: 500;
			color: #222626;
			margin-bottom: 8px;
		}

		.eapps-form-element-label-required-indicator {
			color: #d33071;
			display: inline-block;
		}

		.eapps-form-element-input-text {
			width: 100%;
			border: 1px solid #e0e0e0;
			background-color: #fcfcfc;
			border-radius: 999px;
			padding: 14px 20px;
			font-family: "DM Sans", sans-serif;
			font-size: 15px;
			color: #222626;
			outline: none;
			transition:
				border-color 0.3s,
				background-color 0.3s;
			box-sizing: border-box;
		}

		.eapps-form-element-input-text:focus {
			border-color: #d33071;
			background-color: #ffffff;
		}

		.eapps-form-actions {
			margin-top: 30px;
		}

		.eapps-form-actions-button {
			background-color: #d33071;
			color: #ffffff;
			padding: 16px 36px;
			border-radius: 999px;
			font-family: "DM Sans", sans-serif;
			font-weight: 600;
			font-size: 16px;
			text-align: center;
			cursor: pointer;
			display: inline-block;
			transition: background-color 0.3s;
		}

		.eapps-form-actions-button:hover {
			background-color: #b5255d;
		}

		.eapps-form-actions-button-label {
			display: inline-block;
		}
	</style>
</section>
